@using System.Data;

@{ Layout = "/Views/Shared/_LayoutTeacher.cshtml"; }﻿





<!--our featured courses-->

<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="aligncenter">
                <h1 class="aligncenter">Our Featured Courses</h1><span class="clear spacer_responsive_hide_mobile " style="height:13px;display:block;"></span>

            </div>
        </div>
    </div>
</div>

<!--content featured courses-->
<section id="content">
    <div class="container-fluid">
        <div class="row">

            @foreach (DataRow row in Model.Rows)
            {
<div class="col-lg-3 col-md-6">
    <div class="fcrse_1 mt-30">
        <!--Image of Course-->
        <a class="fcrse_img">

            <img src="@row["course_image"]" alt="" style="height: 170.59px ">
         

        </a>
        <div class="fcrse_content">

            <!--Course Details-->

            <a href="../../CourseDetails/IndexCourseDetails" class="crse-cate"><h3>@row["Course_Title"]</h3> </a>
            <a href="#" class="crse-cate">@row["Course_Category"] </a>
            <a href="#" class="crse-cate">@row["Course_Level"]</a>


        </div>
    </div>
</div>}

        </div>
    </div>
</section>

<!--content featured courses end-->