@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor



<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>iPREP</title>

    <link rel="icon" type="../../image/png" href="../../images/minilogosize-removebg-preview (1).png">

    <link href="../../https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel='stylesheet'>

    <link href="../../css/flickity.css" rel="stylesheet" />
    <link href='../../vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
    <link href="../../css/vertical-responsive-menu1.min.css" rel="stylesheet">
    <link href="../../css/instructor-dashboard.css" rel="stylesheet">
    <link href="../../css/instructor-responsive.css" rel="stylesheet">
    <link href="../../css/night-mode.css" rel="stylesheet">
    <link href="../../css/jquery-steps.css" rel="stylesheet">
    <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="../../vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../vendor/semantic/semantic.min.css">
    <link href="../../vendor/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/responsive.css" rel="stylesheet">
</head>
<body>

    @*@if (TempData["Msg"] != null)
            {
        <script type="text/javascript">
                alert('@TempData["Msg"]')
                //$("#error").val(@TempData["Msg"]);
        </script>}*@
    <!--else { }-->









    <!-----!!!!!!!!!DASHBOARD BUTTON IS NOT WORKING PROPERLY !!!!!!!!!!!!!!!!!!-->
    <!-----!!!!!!!!!MESSAGES BUTTON PAGE LEFT !!!!!!!!!!!!!!!!!!-->
    <!------!!!!!!!!!! LEADERBOARD PAGE LEFT !!!!!!-->
    <!-----!!!!!!!!! TOP CATEGORY IS NOT DYNAMIC!!!!!!!!!!!!!!!!!!-->















    <header class="header clearfix">
        <button type="button" id="toggleMenu" class="toggle_menu">
            <i class='uil uil-bars'></i>
        </button>
        <button id="collapse_menu" class="collapse_menu">
            <i class="uil uil-bars collapse_menu--icon "></i>
            <span class="collapse_menu--label"></span>
        </button>
        <div class="main_logo" id="logo">
            <a href="../../Home"><img src="../../images/logo_iprep.png" alt=""></a>
            <a href="../Home"><img class="logo-inverse" src="../../images/logo_iprep.png" alt=""></a>
        </div>
        <div class="top-category">
            <div class="ui compact menu cate-dpdwn">
                <div class="ui simple dropdown item">
                    <a href="#" class="option_links p-0" title="categories"><i class="uil uil-apps"></i></a>
                    <div class="menu dropdown_category5">
                        <a href="#" class="item channel_item">Development</a>
                        <a href="#" class="item channel_item">Business</a>
                        <a href="#" class="item channel_item">Finance & Accounting</a>
                        <a href="#" class="item channel_item">IT & Software</a>
                        <a href="#" class="item channel_item">Office Productivity</a>
                        <a href="#" class="item channel_item">Personal Development</a>
                        <a href="#" class="item channel_item">Design</a>
                        <a href="#" class="item channel_item">Marketing</a>
                        <a href="#" class="item channel_item">Lifestyle</a>
                        <a href="#" class="item channel_item">Photography</a>
                        <a href="#" class="item channel_item">Health & Fitness</a>
                        <a href="#" class="item channel_item">Music</a>
                        <a href="#" class="item channel_item">Teaching & Academics</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="search120">
            <div class="ui search">
                <div class="ui left icon input swdh10">
                    <input class="prompt srch10" type="text" name="searchbar" value="Search" placeholder="Search for Tuts Videos, Tutors, Tests and more..">
                    <i class='uil uil-search-alt icon icon1'></i>
                </div>
            </div>
        </div>
        <div class="header_right">
            <ul>

                <li>
                    <a href="../ShowCoursesList/IndexShowCoursesList" class="upload_btn" title="Show Courses">Show Courses</a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <a href="" class="opts_account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="../../images/hd_dp.jpg" alt="">
            </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="menu dropdown_account">
                        <div class="channel_my">
                            <div class="profile_link">

                                <div class="pd_content">
                                    <div class="rhte85">
                                        <h6>@Accessor.HttpContext.Session.GetString("User_Name")</h6>
                                        <div class="mef78" title="Verify">
                                            <i class='uil uil-check-circle'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="night_mode_switch__btn">
                            <a href="#" id="night-mode" class="btn-night-mode">
                                <i class="uil uil-moon"></i> Night mode
                                <span class="btn-night-mode-switch">
                                    <span class="uk-switch-button"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </li>
                <li>  <a href="instructor_dashboard.html" class="dp_link_12"</a></li>



                <li> <a href="../../SignInSignUp/IndexSignIn" class="dp_link_12" style="text-align:center">Sign Out</a></li>



            </ul>
        </div>

    </header>


    <nav class="vertical_nav">
        <div class="left_section menu_left" id="js-menu">
            <div class="left_section">
                <ul>
                    <li class="menu--item">

                        <a href="../StudentHome/IndexStudentHome" class="menu--link" title="Dashboard">
                            <i class="uil uil-apps menu--icon"></i>
                            <span class="menu--label">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="live_streams.html" class="menu--link" title="Live Streams">
                            <i class='uil uil-chart-line menu--icon'></i>
                            <span class="menu--label">Leaderboard</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="../SavedCourse/IndexSavedCourse" class="menu--link" title="Saved Courses">
                            <i class="uil uil-heart-alt menu--icon"></i>
                            <span class="menu--label">Saved Courses</span>
                        </a>
                    </li>

                    <li class="menu--item">
                        <a href="../CourseTopic/Indexcoursetopic" class="menu--link " title="Create Course">
                            <i class='uil uil-envelope menu--icon'></i>
                            <span class="menu--label">Messages</span>
                        </a>
                    </li>



                </ul>
            </div>

        </div>
    </nav>

    <div class="wrapper">
        <div class="sa4d25">

            <div class="container-fluid">
                @*@<input type="text" id="error" name="error" value="" />@*@

                @RenderBody()


            </div>

        </div>


        <footer class="footer mt-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="item_f1">
                            <a href="about_us.html">About</a>

                            <a href="career.html">Careers</a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="item_f1">
                            <a href="help.html">Help</a>
                            <a href="coming_soon.html">Advertise</a>
                            <a href="coming_soon.html">Developers</a>
                            <a href="contact_us.html">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="item_f1">
                            <a href="terms_of_use.html">Copyright Policy</a>
                            <a href="terms_of_use.html">Terms</a>

                            <a href="sitemap.html">Sitemap</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="item_f3">
                            <a href="#" class="btn1542">Teach on iPREP</a>
                            <div class="lng_btn">
                                <div class="ui language bottom right pointing dropdown floating" id="languages" data-content="Select Language">
                                    <a href="#"><i class='uil uil-globe lft'></i>Language<i class='uil uil-angle-down rgt'></i></a>
                                    <div class="menu">
                                        <div class="scrolling menu">
                                            <div class="item" data-percent="100" data-value="en" data-english="English">
                                                <span class="description">English</span>
                                                English
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="footer_bottm">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="fotb_left">
                                        <li>
                                            <a href="../Home/Indexlandingpage">
                                                <div class="footer_logo">
                                                    <img src="../../images/minilogosize-removebg.png" alt="image">
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <p>© 2022 <strong>iPREP</strong>. All Rights Reserved.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <div class="edu_social_links">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>

                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                        <a href="#"><i class="fab fa-youtube"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="../../js/vertical-responsive-menu.min.js"></script>
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../vendor/OwlCarousel/owl.carousel.js"></script>
    @*<script src="vendor/semantic/semantic.min.js"></script>*@

    <script src="../../js/flickity.pkgd.min.js"></script>
    <script src="../../vendor/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="../../js/custom.js"></script>
    <script src="../../js/night-mode.js"></script>
    <script src="../../js/jquery-steps.min.js"></script>
    <script>
        $('#add-course-tab').steps({
            onFinish: function () {
                alert('Wizard Completed');
            }
        });</script>
    <script>
        $(function () {
            $(".sortable").sortable();
            $(".sortable").disableSelection();
        });</script>
</body>


</html>