<div class="col-xl-4 col-lg-5 col-md-6">
    <div class="preview_video">
        <a href="#" class="fcrse_img" data-toggle="modal" data-target="#videoModal">
            <img src="../../images/courses/img-2.jpg" alt="">
            <div class="course-overlay">
                <span class="play_btn1"><i class="uil uil-play"></i></span>
                <span class="_215b02">Preview this course</span>
            </div>
        </a>
    </div>
    <div class="_215b10">
        <a href="#" class="_215b11">
            <span><i class="uil uil-heart"></i></span>Save
        </a>
        <a href="#" class="_215b12">
            <span><i class="uil uil-windsock"></i></span>Report abuse
        </a>
    </div>
</div>
























<div class="col-xl-8 col-lg-7 col-md-6">
    <div class="_215b03">
        <h2>The Web Developer Bootcamp</h2>
        <span class="_215b04">The only course you need to learn web development - HTML, CSS, JS, Node, and More!</span>
    </div>
    <div class="_215b05">
        <div class="crse_reviews mr-2">
            <i class="uil uil-star"></i>4.5
        </div>
        (81,665 ratings)
    </div>
    <div class="_215b05">
        114,521 students enrolled
    </div>
    <div class="_215b06">
        <div class="_215b07">
            <span><i class='uil uil-comment'></i></span>
            English
        </div>
        <div class="_215b08">
            <span><i class='uil uil-closed-captioning'></i></span>
            <span>
                English
                <span class="caption_tooltip">
                    more
                    <span class="caption-content">

                        <span>Hindi</span>

                    </span>
                </span>
            </span>
        </div>
    </div>
    <div class="_215b05">
        Last updated 1/2020
    </div>
    <ul class="_215b31">
        <li><button class="btn_adcart">Enroll Now</button></li>
    </ul>

</div>